<div>
  <div class="col-md-8 col-md-offset-2">
    <form name='searchJournalist' ng-submit="search()" class="form-group">
      <label for="searchbar">Search for a journalist</label>
      <div class="input-group">
        <input
          name='journalist'
          ng-model="query"
          type="text"
          class="form-control"
          placeholder="Eg.) Maggie Haberman, Sam Sifton, Farhad Manjoo"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Search archive</button>
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->

  <div class="col-md-8 col-md-offset-2">
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous" ng-click="older()")><span aria-hidden="true">&larr; Older</span></li>
        <li class="next" ng-click="newer()"><span aria-hidden="true">Newer &rarr;</span></li>
      </ul>
    </nav>
  </div>

  <div>
    <div ng-repeat="article in data.articles">
      <a href="{{article.web_url}}" target="_blank">
        <div class="col-md-6 clearfix">
          <h4 class="text-uppercase text-center"><strong>{{ article.headline.main }}</strong></h4>
          <img ng-src="http://www.nytimes.com/{{article.multimedia[1].url}}" class="img-responsive center-block img-rounded"/>
          <br />
          <div class="col-md-10 col-md-offset-1">
            <p>{{article.lead_paragraph}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous" ng-click="older()")><span aria-hidden="true">&larr; Older</span></li>
        <li class="next" ng-click="newer()"><span aria-hidden="true">Newer &rarr;</span></li>
      </ul>
    </nav>
  </div>

<div>
